.home {
  width: auto;
  height: auto;
  background-image: url("../resources/building.png");
  background-size: cover;
}

.link a:link, .link a:visited {
  color: white !important;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h5 {
  font-size: 18px;
  color: inherit;
  font-weight: bold;
  font-family: Helvetica;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.about p, .work p, .team p, .contact p {
  font-size: 14px;
}

.middlehead {
  font-size: 23px;
  font-weight: bold;
  color: white;
  width: auto;
  height: auto;
  background-image: url("../resources/building.png");
}

.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

.footer p {
  color: white;
  font-weight: bold;
}

.footer #copy {
  font-size: 11px;
  color: white;
}
